.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 0;
  bottom: 0;
  right: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-image: url("./assets/BG3.jpg");
  background-size: cover;
}
.page-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header-title {
  background-color: rgba(17, 7, 7, 0);

  height: 100vh;
  width: 100%;
  align-content: center;
  justify-content: center;
  display: grid;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.contact-field {
  min-height: 100vh;
}
.navigation-field {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  display: grid;
  justify-content: center;
  align-content: center;
  width: 150px;
}

.nav-item {
  color: white;
  font-family: IBM Plex Mono;
  font-size: large;
  /* background-color: teal; */
  display: grid;
  gap: 10px;
  height: 100px;
  justify-content: center;
  align-content: center;
  margin: 10px;
  text-decoration: none;
}

.nav-item:hover {
  opacity: 0.8;
  cursor: pointer;
}

.mainText {
  font-family: IBM Plex Mono;
  -webkit-animation: mainText 1s ease-in-out infinite alternate;
  -moz-animation: mainText 1s ease-in-out infinite alternate;
  animation: mainText 1s ease-in-out infinite alternate;
}

.earth-gif {
  height: 350px;
  width: 350px;

  position: absolute;
  top: 78px;
  left: 243px;
}

.earth {
  height: 280px;
  width: 280px;
  background: linear-gradient(45deg, cyan, magenta, lightblue);
  background-size: 400%;
  filter: blur(5px);
  border-radius: 75%;
  position: absolute;
  top: 110px;
  left: 275px;
}

.about-layout {
  min-height: 100vh;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
  /* overflow: hidden; */

  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.lovable-list-wrapper {
  display: flex;
  position: absolute;
  background-color: thistle;
}

.lovable-list-slider {
  background-color: red;
  position: relative;
  max-width: 226px;
  margin: 0 auto;
}

.lovable-list-item {
  min-width: 300px;
  height: 250px;
  flex: 1;
  background-color: teal;
  animation: moving 8s infinite;
  margin: 1px;
}
/* @keyframes moving {
  from {
    left: 100px;
  }
  to {
    left: 1500px;
  }
} */
