.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 0;
  bottom: 0;
  right: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-image: url("./assets/BG3.jpg");
  background-size: cover;
}
.page-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header-title {
  background-color: rgba(17, 7, 7, 0);

  height: 100vh;
  width: 100%;
  align-content: center;
  justify-content: center;
  display: grid;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.contact-field {
  min-height: 100vh;
}
.navigation-field {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  display: grid;
  justify-content: center;
  align-content: center;
  width: 150px;
}

.nav-item {
  color: rgb(255, 255, 255);
  font-family: IBM Plex Mono;
  font-size: large;
  display: grid;
  font-weight: 700;
  gap: 10px;
  height: 100px;
  justify-content: center;
  align-content: center;
  margin: 10px;
  text-decoration: none;
}

.nav-item:hover {
  opacity: 0.8;
  cursor: pointer;
}

.mainText {
  font-family: IBM Plex Mono;
  -webkit-animation: mainText 1s ease-in-out infinite alternate;
  -moz-animation: mainText 1s ease-in-out infinite alternate;
  animation: mainText 1s ease-in-out infinite alternate;
}

.earth-gif {
  height: 350px;
  width: 350px;

  position: absolute;
  top: 78px;
  left: 243px;
}

.earth {
  height: 280px;
  width: 280px;
  background: linear-gradient(45deg, cyan, magenta, lightblue);
  background-size: 400%;
  filter: blur(5px);
  border-radius: 75%;
  position: absolute;
  top: 110px;
  left: 275px;
}

.about-layout {
  height: 100vh;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lovable-list-button-wrapper {
  display: grid;
  // background-color:  #EAF;
  grid-template-areas: "a b";
  margin-top: 10px;
  width: 65%;
  align-self: center;
  height: 40px;
}

.lovable-list-button {
  width: 150px;
  height: 30px;
  grid-area: a;

  align-self: center;
  justify-self: end;
}
.lovable-list-button2 {
  width: 150px;
  height: 30px;
  grid-area: b;

  align-self: center;
  justify-self: start;
}
.lovable-list-button2:hover,
.lovable-list-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.lovable-list-wrapper {
  display: flex;
  position: absolute;

  left: 0px;
  animation: moving 10s infinite;
  transition: transform 300ms cubic-bezier(0.6, 0.04, 0.98, 0.335);

  .lovable-list-item {
    min-width: 300px;
    height: 250px;
    flex: 1;
    background-color: teal;

    opacity: 0.5;
  }
}
.lovable-list-item :hover {
  cursor: pointer;
}
$i: 0;
@for $i from 0 through 3 {
  .lovable-list-slider.active-slider-#{$i} #lovable-list-item-#{$i} {
    opacity: 1;
  }
}
.lovable-list-item :hover {
  cursor: pointer;
}
.lovable-list-slider {
  height: 250px;
  width: 250px;
  position: relative;
  max-width: 226px;
  margin: 0 auto;
  // &:after{
  //     content: '';
  //     display: block;
  //     width: 295px;
  //     height: 250px;
  //     outline: 5px solid #61DAFB;
  //     position: absolute;
  //     left:0px;
  //     top:0px;
  //   }
}

@keyframes moving {
  // from{
  //   left:0px;
  // }
  // to{
  //   left:-900px
  // }
}
